body {
	font-family: Roboto;
	margin:20px;
}

a {
	text-decoration: none;
	color: black;
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: underline;
}

.pm-header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
}

.pm-header-title {
	font-weight: bold;
	font-size: 24px;
}

.pm-header-logout {
	font-style: italic;
}

.pm-section {
	width: 1200px;
	margin-right: auto;
	margin-left: auto;
}

ul {
	list-style:none;
	padding: 0px;
}

ul li:nth-child(even) {  
  background : #CCCCCC;
}

.pm-section-title {
	background : #BBBBBB;
	padding-top : 10px;
	padding-bottom : 10px;
}

.pm-section-title-item  {
	margin-right: 20px;
}

.pm-section-title-name {
	display: inline-block;
	width: 150px;
}

.pm-section-content{
	background : #DDDDDD;
}

.pm-section-content-item-name {
	padding-top: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
	display: inline-block;
	width: 140px;
	
}

.pm-section-content-item-delete {
	position: relative;
}

.pm-section-content-item-date {
	display: inline-block;
	width: 900px
}

.pm-footer {
	position: fixed;
	right: 30px;
	bottom: 30px;
	font-size: 24px;
	font-weight: bold;
}

.login-form {
	text-align: center;
	font-size: 20px;
}

.login-pswd-label, .login-pswd-input {
	display:inline-block;

}

.login-pswd-input {
	margin-bottom: 40px;
}

.login-pswd-label {
	text-align: center;
	margin-bottom: 20px;
	text-align: center;
	display: block;
	width: 150px;
	color:black;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: bold;
	margin-right: auto;
	margin-left: auto;
	font-size: 20px;
}

.add {
	margin-bottom: 30px;
}

.add-form-send-button{
	font-size: 20px;
}

.add-form-label {
	margin-bottom: 20px;
	text-align: center;
	display: block;
	width: 150px;
	
	color:black;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: bold;
}

.add-form {
	text-align: center;
	margin-bottom: 180px;
}

.add-form-label, .add-form-textarea {
	vertical-align:top;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}

.add-form-textarea {
	resize: vertical;
	height: 35px;
}

.add-form-select, .add-form-input {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border:1px solid #BEBEBE;
	padding: 5px;
	outline: none;  
	width: 250px;
	margin-left: auto;
	margin-right: auto;
}

input, textarea, select, text {
	
	width : 250px;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	box-sizing: border-box;
}

textarea, select, add-form-date, input, text {
	font-family: inherit;
	font-size: inherit;
}